* {
    box-sizing: border-box;
}

.navbar__width {
    width: 80%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__title {
    height: 60px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.navbar__list--item {
    padding-left: 20px;
}

@media screen and (max-width: 1090px) {
    .navbar__width {
      width: 95%;
    }
  }